.content{
    margin-left: $width-sidebar;
    .form-control {        
        font-size: $font-size;
        border-color: $line-gray3;
        &:focus{
            box-shadow: unset;
            border-color: $color-blue2;
        }
    } 
    .dashboard{
        @mixin bg-dashboard-item($color){
            background-color: $color;
            font-size: 24px;
            color: $color-white;
            line-height: 2.5;
            .col:last-child(){
                text-align: right;
            }
        }
        .msg{
            @include bg-dashboard-item($color-red);
        }
        .view{
            @include bg-dashboard-item($color-blue-light);
        }
        .share{
            @include bg-dashboard-item($color-blue-dark);
        }
        .user{
            @include bg-dashboard-item($color-orange);
        }
    }
    .title{
        border-bottom: 1px solid $line-gray;
        position: relative;
        padding: 11px 0;
        background: $line-gray4;
        h2{      
            margin-left: 15px;
            margin-bottom: 0;
            color: $font-btn;
            font-size: 20px;
        }
    }
    .admin-page{
        form{
            box-shadow: 0px 10px 15px 0px $line-gray2;
            margin: 0 auto 15px;
            width: 80%;
            border: 1px solid $line-gray;
            .row{
                margin: 15px;
            }
        }
    }
    .widget-main{
        display: inline-block;
        height: 100%;   
        float: left;
        border: 1px solid $line-gray;
        width: calc(100% - #{$width_sidebar});
        .title{
            .number_no{
                margin-top: 10px;
                position: absolute;
                top: 5px;
                right: 25px;
            }
        }
        form.form-order{
            label{
                position: absolute; 
                top: 8px;
            }
            .form-header-row{
                padding: 10px 0;
                .form-group{
                    margin-bottom: 5px;
                    .col{
                        padding-left: $spacing-label + 20px;
                    }
                }
            }
            .my-3.text-center{
                font-size: 18px;
                label{
                    position: unset; 
                }
            }
            .totalPrice{
                color: $color-blue;
                float: right;
                font-weight: bold;
                padding: 10px;
                font-size: 16px;
            }
            .form-submit-row{
                padding: 5px;
                box-shadow: inset 0px 8px 20px 12px $line-gray4;
            }            
            .lstField{
                list-style: none;
                padding: 0;
                position: relative;
                margin-bottom: 0;                 
                .itemField{
                    background-color: $color-white;
                    display: inline-block;
                    width: 100%;
                    padding: 10px 0;
                    margin-top: 5px;
                    [class*="col"]{
                        margin-bottom: 5px;
                    }
                    %row-note-info{
                        .control-input{
                            padding-left: $spacing-label;
                            &.rw-multiselect, &.order-page{
                                padding-right: $spacing-note + 5px;
                            }
                            >input{
                                height: $height-widget;
                            }
                        }                        
                    }
                    .row-note{
                        @extend %row-note-info;
                        >button{
                            position: absolute;
                            top: 0; 
                            right: 15px;
                            width: $spacing-note;
                            height: $height-widget;
                        }
                    }
                    .row-info{
                        @extend %row-note-info;
                    }
                    .action{
                        label {
                            margin-right: 25px;
                            position: unset;
                        }
                        #takeAway{
                            zoom: 1.2;
                            top: 3px;
                            position: relative;
                            height: auto;
                        } 
                    }
                }
            }
        }
    }
    .widget-lstOrder{
        float: left;
        width: $width_sidebar;
        .nav-link{
            padding: 15px;
            border-left: 1px solid $line-gray;
            border-bottom: 1px solid $line-gray;
            a{
                @extend %link-navbar;
            }
        }
    }
}
@mixin set-width-content{
    .content{
        margin-left: $width_sidebar;
        &.show-menu-true{
            margin-top: $height-navbar-all;
        }
        .widget-main{
            width: calc(100% - #{$width_iconbar});
        }
        .widget-lstOrder{
            width: $width_iconbar;
            .nav-link{
                width: $width_iconbar;
                padding: 15px 0;
                span{
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 1199px) {
    @include set-width-content;
}
@media screen and (max-width: 991px) {
    @include set-width-content;
    .content{
        margin-left: 0;        
    }
}