@import 'var';
body,html{
    margin: 0;
    padding: 0;
}
.tienhai{
    @import '../../node_modules/bootstrap/scss/bootstrap.scss';
    @import '../../node_modules/font-awesome/css/font-awesome.min.css';
    font-family: $font_name;
    font-size: 14px; 
    .row {
        margin:{
			right:0;
			left: 0;
		}
    } 
    .navbar{
        padding: 0;
        border: 1px solid #e7e7e7;
    }
    .sidebar{
        background-color: #f8f8f8;
        min-height: -webkit-fill-available;
        padding:{
            left: 0px;
            right: 0px;
        }
        .nav-item{
            //margin-left: 15px;
        }
            .nav-link{
            border-bottom: 1px solid #e7e7e7;
            border-right: 1px solid #e7e7e7;
            padding:{
                top: 15px;
                bottom: 15px;
            }
        }
        a{
            color: #337ab7;
            &:hover{
                color: #23527c;
                background-color: #eeeeee;
            }
        }
        
        .second-level{
            padding-left: 40px;
        }
    }
    .panel{        
        margin-top: 15px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        border-color: #ddd;
        >div:first-child{
            background-color: #f5f5f5;
            border-bottom: 1px solid #e7e7e7;
            padding: 10px;
        }
    }
    .panel-child{
        margin-bottom: 0;
        margin-top: 0;
        border: unset;
        box-shadow: unset;
    }
    .title{
        h1{
            border-bottom: 1px solid #e7e7e7;
            padding-top: 30px;
            padding-bottom: 15px;
            margin-bottom: 0;
        }
    } 
    .main {
        margin: 0 auto;
        text-align: left;
    }  
    .table{
        margin-bottom: 0;
    }
    .done {
        color: red;
        text-decoration: line-through;
    }      
    .undone {
        color: #61DAFB;
    }
      
    .rw-widget-picker, .form-control {        
        height: 30px;
    }
    .rw-multiselect{
        .rw-input-reset{
            height: 28px;
        }
    }
    .btn-secondary{
        border-color: #d5d5d5;
        background-image: linear-gradient(#fff, #d5d5d5);
        font-size: 16px;
        padding: 3px 8px;
        &:hover, &:not(:disabled):not(.disabled):active{
            border-color: #d5d5d5;
            background-image: linear-gradient(#fff, #bdbdbd);
            color:black;
        }
    }
    form{
        padding-top: 15px;
        padding-bottom: 15px;        
        .required{
            color: darkred;
            font-weight: bold;
        }
        .selectTable{
            text-align: center;
            > div{
                display: inline-block;
                width: 100px;
            }
        }
        .lstFood{
            list-style: none;
            padding: 0;
            .itemFood{
                margin: 0;
                padding-left: 15px;
                padding-right: 15px;
                clear: both; 
                .row{
                    margin-top: 15px;
                } 
                .panel{
                    .panel-child{
                        margin-left: 15px;
                        margin-right: 15px;
                        .row:last-child{
                            margin-bottom: 15px;
                        }
                    }
                }
                &:first-child {
                    text-align: center;
                    padding-top: 15px;
                    button {
                        float: none;
                        white-space: nowrap;
                        display: inline-block;
                        border-radius: 5px;
                        padding: 3px 8px;
                        font-size: 16px;
                        color: #fff;
                        background-image: linear-gradient(#fff,#d5d5d5);
                        border: 1px solid #d5d5d5;
                        color: #000;
                        &:before {
                            display: inline-block;
                            font: normal normal normal 14px/1 FontAwesome;
                            font-size: inherit;
                            text-rendering: auto;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            content: '\F067';
                            margin-right: 5px;
                        }
                    }
                }
                > button{
                    float: right;
                    white-space: nowrap;
                    display: inline-block;
                    border-radius: 5px;
                    padding: 5px 10px;
                    font-size: 16px;
                    color: #fff;
                    background-image: linear-gradient(#e27c79,#c9302c);
                    border: 1px solid #c9302c;
                    padding: 5px 8px;
                    &:before {
                        display: inline-block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        content: '\F1F8';
                    }
                }
            }
        }
    }
    .logForm{
        margin-top: 10px;
    }
    label{
        margin-bottom: 0px;
    }
    input, select{
        border-radius: 4px;
        border: 1px solid #ccc;
    }
    input{
        height: 32px;
    }
    select{
        height: 30px;
    }
    
    #hasOption, #takeAway{
        zoom: 1.7;
        top: 3px;
        left: 5px;
        position: relative;
        height: auto;
    } 
    .btn-secondary{
        background-color: $btn;
        &:not(:disabled):not(.disabled):active:focus{
            box-shadow: unset;
        }
        color: black;
    }
    .btn{
        &:focus{
            box-shadow: unset;
        }
    }
    .detail{
        text-align: center;
        color: $state_billing;
        span{
            font-weight: bold;
        }
    }
    .titleLst{
        color: $state_order;
    }
    .lstOrder{
        font-size: 20px;
    }
    .tableIdx{
        width: 200px;
        border: 1px solid gray;
        text-align: center;
        padding: 10px;
        margin: 20px;
        margin-right: 10px;
        float: left;
        &.wait{
            background-color: $state_waiting;
            font-size: 24px;
            .btnTable{
                >button:after{
                    content: 'Detail';
                }
            }
        }
        &.bill{
            background-color: $state_billing;
            font-size: 24px;
            .btnTable{
                >button:after{
                    content: 'Serve';
                }
            }
        }
        &.order{
            background-color: $state_order;
            font-size: 24px;
            .btnTable{
                >button:after{
                    content: 'Order';
                }
            }
        }
        &.serve{
            background-color: $state_serving;
            font-size: 24px;
            .btnTable{
                >button:after{
                    content: 'Bill';
                }
            }
        }
        a{
            text-decoration: none;
            color: black;
        }
    }
    .listTable, .detailTable{
        border: 1px solid gray;
    }
    .detailTableItem{
        clear: left;
    }
    .addTable{
        clear: both;
        text-align: center;
    } 
    .newTable{
        border: 1px solid gray;
        border-radius: 5px;
        width: 40%;
        padding: 10px;
        margin:{
            left: auto;
            right: auto;
            top: 30px;
        }       
        .row{
            padding:{
                bottom: 5px;
                top: 5px;
            }
            input{
                width: 100%;
            }
        }
    } 
    .price{
        font:{
			size: 24px;
			weight: bold;
        }
        margin:{
            top: 5px;
            bottom: 5px;
        }
        color: $price;
        height: 30px;
    }      
    .alignC{
        text-align: center;
    }
    .alignL{
        text-align: left;
    }
    .alignR{
        text-align: right;
    }
    .marginT{
        margin-top: 15px;
    }
}


