@import 'var';
body,html{
    margin: 0;
    padding: 0;
}
.tienhai{
    @import '../../node_modules/bootstrap/scss/bootstrap.scss';
    font-family: $font_name;
    font-size:12px;    
    .header{
        text-align: center;
    }
    .btn-secondary {
        background-color: $btn;
    }
    .tableIdx{
        width: 200px;
        border: 1px solid gray;
        text-align: center;
        padding: 10px;
        margin: 20px;
        margin-right: 10px;
        float: left;
        &.wait{
            background-color: $state_waiting;
        }
        &.bill{
            background-color: $state_billing;
        }
        &.order{
            background-color: $state_order;
        }
        a {
            text-decoration: none;
            color: black;
            font-size: 14px;
        }
    }
    .detailTableItem{
        clear: left;
    }
    .addTable{
        clear: both;
        text-align: center;
    }        
    .alignCenter{
        text-align: center;
    }
}


