@import 'var';
body,html{
    margin: 0;
    padding: 0;
    background-color: gray;
}
.tienhai{
    //@import '../../node_modules/bootstrap/scss/bootstrap.scss';    
    font-family: $font_name;
    font-size:12px;    
    .tableIdx{
        width: 170px;
        border: 1px solid gray;
        background-color: $state_order;
        text-align: center;
        padding: 10px;
        margin: 20px;
        margin-right: 10px;
        float: left;
    }
    .detailTableItem{
        clear: left;
    }
}


