.tienhai .tableIdx{
    width: 170px;
    border: 1px solid gray;
    background-color: #0485CC;
    text-align: center;
    padding: 10px;
    margin: 20px;
    margin-right: 10px;
    float: left;
}
.tienhai .detailTableItem{
    clear: left;
}