@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
/* font name*/
$font_name: Arial, sans-serif;
$font-size: 14px;
$line-gray: #E7E7E7;
$line-gray2: #bdbdbd;
$line-gray3: #E6E6E6;
$line-gray4: #f5f5f5;
$font: #212529;
$font-btn: #666666;
$color-white: #ffffff;


$height-navbar:45px;
$height-navlink:47px;
$num-navlink: 7;
$height-navbar-all: $height-navlink * $num-navlink;
$height-widget:30px;
$width_sidebar: 200px;
$width_iconbar: 43px;
$spacing-label: 70px;


$color-red: #f44336;
$color-blue: #337ab7;
$color-blue2: #66afe9;
$color-blue-hightlight: #23527c;
$color-blue-light: #2196F3;
$color-blue-dark: #009688;
$color-orange: #ff9800;

$space-values : (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50,60) !default;

// xs: 0,  sm: 576px,  md: 768px,  lg: 992px,  xl: 1200px;

@mixin makespace($values, $breakpoints:$grid-breakpoints) {
    @each $breakpoint-name, $breakpoint-value in $breakpoints {
        @include media-breakpoint-up($breakpoint-name) {
            @each $value in $values{
                .margin-padding-#{$breakpoint-name}-#{$value}{
                    margin: #{$value}#{'px'} !important;
                    padding: #{$value}#{'px'} !important;
                }
            }
        }
    }
}