
/* font name*/
$font_name: Arial, sans-serif;
$width_sidebar: 220px;
$width_lstOrder: 12px;

$bg_food: #f6dada;
$bg_drink: #c4dcf0;
$bg_option: #e2e3d2;
// state of table
$state_billing: #CF6F76;
$state_order: #69A6C7;
$state_serving:#DB9A4B;
$state_waiting:#8AB388;

$price: #B81A24;
$btn:#b2b5b7;

$line-gray: #E7E7E7;
$font: #212529;
$font-title: #003366;

