@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/mixins";
/* font name*/
$font_name: Arial, sans-serif;
$width_sidebar: 200px;
$width_lstOrder: 12px;

$bg_food: #f6dada;
$bg_drink: #c4dcf0;
$bg_option: #e2e3d2;
// state of table
$state_billing: #CF6F76;
$state_order: #69A6C7;
$state_serving:#DB9A4B;
$state_waiting:#8AB388;

$price: #B81A24;
$btn:#b2b5b7;

$line-gray: #E7E7E7;
$line-gray2: #bdbdbd;
$font: #212529;
$font-btn: #666666;

$color-white: #ffffff;

//blue color
$color_b1: #039;
$color_b2: #4066b3;

$space-values : (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50,60) !default;

@mixin makespace($values, $breakpoints:$grid-breakpoints) {
    @each $breakpoint-name, $breakpoint-value in $breakpoints {
        @include media-breakpoint-up($breakpoint-name) {
            @each $value in $values{
                .margin-padding-#{$breakpoint-name}-#{$value}{
                    margin: #{$value}#{'px'} !important;
                    padding: #{$value}#{'px'} !important;
                }
            }
        }
    }
}