.rw-widget-picker{        
    height: 30px;
}
.rw-multiselect{
    .rw-input-reset{
        height: 28px;
    }
    .rw-popup-container{
        padding-left: 80px; 
        padding-right: 80px
    }
}
.rw-widget-input{
    box-shadow: unset;
}
.rw-widget-container{
    border:{
        radius: 0;
        color: #E6E6E6;
    }
}
.rw-list-optgroup{
    padding-bottom: 7px;
}